@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin:auto;
  width: 100vw;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #E8F5FF;
}

.top-container {
  display: flex;
  background: #E8F5FF;
}

.main {
  width: 100%;
  margin-left: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}




