.card--register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  height: 350px;

  & input {
    width: 82%;
    height: 50px;
    border-radius: 7px;
    text-align: center;
    font-size: 18px;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
}

.card__register-title {
  font-size: 32px;
  color: #4C4B66;
  margin-top: 10px;
}

.card__btn {
  font-size: 18px;
  color: white;
  background: #116ebb;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border: transparent;
}

.card__btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.proceed {
  color: rgba(86, 84, 84, 0.848);
  background: rgba(255, 255, 255, 0);
  border: none;
  font-size: 15px;

  &:hover {
    color: #35343b;
  }
}

.form-container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  border: 1px solid rgba(120, 120, 141, 0.5);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  background: #b6daf9;

}

.something:hover, .something:focus {
  background-color: white;
  color: #333333;
}

.warning {
  border: 2px solid red;
}

.card__nav-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
  width: 82%;

}

.card__link{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  margin-top: 8px;
  margin-bottom: 3px;
  color: #116ebbd6;
  &:visited {
    color: #116ebb;
    text-decoration: underline;
  }
  &:hover {
    color: rgba(255, 255, 255, 0.829);
    text-decoration: underline;
  }
}

.modal-test{
  position: absolute;
  top: 3%;
  padding: 1%;
  border: 1px solid red;
  border-radius: 13px;
  transition: all 0.2s;
  transition: all .5s ease-in-out;
  height: 20px;
  display: flex;
  align-items: center;
}

.modal-test:target {
  height: 50px;
}