@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin:auto;
  width: 100vw;
  height: 100vh;
}

.top-container {
  display: flex;
  // grid-template-columns: auto auto;
  background: #E8F5FF;
}

.main {
  width: 100%;
  height: 100vh;
  // margin-left: 240px;
  margin-left: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 5px solid pink;
}

.newpost-card {
  width: 710px;
  // min-height: 300px;
  // background: skyblue;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  border: 0.1px solid rgba(120, 120, 141, 0.5);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.description-area {
  width: 100%;
  height: 4rem;
  background: #59AFED;
  border-radius: 10px 10px 0 0;
  // border-bottom: 0.5px solid #78788D;
  border-bottom: 0.1px solid rgba(120, 120, 141, 0.5);

  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 37px;
  padding-right: 37px;

  & input {
    height: 2rem;
    border-style: hidden;
    background: #59AFED;
    color: white;
    font-size: 18px;

    &::placeholder{
      color: white;
    }
  }
}

.newpost_user {
  font-size: 20px;
  display: flex;
  align-items: center;

  &__pic {
    background: ghostwhite;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid rgba(43, 114, 165, 0.82);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    // display: inline;
  }
}


textarea:focus, input:focus{
  outline: none;
}

.image-area {
  width: 100%;
  height: 22rem;
  background: rgba(216, 238, 254, 0.2);
  // border-bottom: 0.5px solid #78788D;
  border-bottom: 0.1px solid rgba(120, 120, 141, 0.5);
  display: grid;
  place-items: center;
}

.file-input-wrapper{
  width: 470px;
  height: 190px;
  display: grid;
  place-items: center;
  border: 2px dotted rgba(120, 120, 141, 0.3);
  border-radius: 10px;
}


.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #28628C;
  font-size: 14px;
  padding: 10px 12px;
  // background-color: #798791;
  // border: none;
  // box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label svg {
  // height: 16px;
  margin-right: 4px;
  fill: #28628C;
}


.tag-area {
  width: 100%;
  height: 2.3rem;
  background: #D8EEFE;
  border-radius: 0 0 10px 10px;
  color: rgb(166, 163, 163);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 47px;
  padding-right: 47px;
  font-size: 16px;

  & input {
    height: 2rem;
    border-style: hidden;
    background: #D8EEFE;
    color: #4C4D66;
    font-size: 16px;

    &::placeholder{
      color: #4C4D66;
    }
  }
}


