.post{
  display:flex;
  flex-direction: column;
  margin-bottom: 3%;
  // max-width: 50%;
  width: 710px;
  // padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 0.1px solid rgba(120, 120, 141, 0.5);

  &__image {
    max-width: 100%;
    max-height: 100%;
  }

  &__descriptionArea{
    background: #59AFED;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
  }

  &__description{
    margin-left: 37px;
    font-size: 20px;
  }

  &__user {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 37px;
  }

  &__profilePic {
    background: ghostwhite;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid rgba(43, 114, 165, 0.82);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
  }
  
  &__infoBar{
    background: #D8EEFE;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1px solid rgba(120, 120, 141, 0.5);
  }

  &__streams{
    margin-left: 37px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #2a6b99;

    & button {
      background: #e8f5ff60;
      padding: 1px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 7px;
      border: 1.5px solid #868692;
      font-size: 13px;
      text-transform: capitalize;

      &:hover {
        background: #a2c3de;
      }
    }
  }
  
  &__posted{
    margin-right: 37px;
    font-size: 14px;
  }

  &__commentSection{
    background: #E4F4FF;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    min-height: 80px;

    & button {
      // background: green;
      width: 140px;
    }
  }

  &__commentsAndHeart{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    // align-items: center;
    height: 100%;

    & ul {
      font-size: 16px;
    }
  }

  &__heartContainer{
    order: 2;
    margin-right: 50px;
    display: grid;
    place-items: center;
    // width: 70px;
    // height: 40px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    // margin-top: 20px;
    align-self: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    background: #EA3D67;

    // background: blue;
  }

  &__likes-container-flex{
    display: flex;
    border-radius: 10px;
    max-width: 3rem;
    min-width: 2rem;
    justify-content: space-around;
    font-size: 18px;
    align-items: center;
    color: white;

    & svg {
      fill: white;
    }
  }

  &__likes__nr{
    margin-top: 9%;       

  }


  &__inputArea{
    background: #D8EEFE;
    border-radius: 0 0 10px 10px;
    height: 37px;
    border-top: 0.1px solid rgba(120, 120, 141, 0.5);
    margin-top: auto;

    & form {
      width: 100%;
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 37px;
      padding-right: 37px;

      // background: pink;
    }

    &-field {
      flex-grow: 1;
      border-style: hidden;
      background: #D8EEFE;
      color: #6F6F6F;
      font-size: 18px;

      &::placeholder{
        color: #6F6F6F;
      }
    }

    &-btn {
      height: 50%;
    }
  }

}