.post{
  display:flex;
  flex-direction: column;
  margin-bottom: 3%;
  max-width: 50%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  &__image {
    max-width: 100%;
    max-height: 100%;
  }
  &__description{
    
  }
  &__streams{
    background-color: coral;
  }
  &__userName{
    background-color: purple;
  }
  &__likes-container-flex{
    display: flex;
    border: 1px solid #F31E52 ;
    border-radius: 10px;
    max-width: 3rem;
    min-width: 2rem;
    justify-content: space-around;
  }
  &__likes__nr{
    margin-top: 9%;       

  }
}