.sidebar {
  width: 270px;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background: linear-gradient(0deg, rgba(8,150,253,1) 0%, rgba(103,184,249,1) 35%, rgba(255,246,240,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.logo {
    display: flex;
    font-family: 'Sniglet', cursive;
    align-items: center;
    margin-top: 55px;
    font-size: 27px;
}

.cloud {
    fill: #1C9EFC;

}

.dream {
    color: #4C4C66;
}

.stream {
  color: #379AE3;
}

.menuList {
  padding-left: 0;
  margin-top: 70px;
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;

  & li {
    margin-top: 30px;

    &:hover {
      color: #4ba3e2;
      fill: #4ba3e2;

      & svg {
        fill: #4ba3e2;
      }
    }
  }

  &__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #423F62;

    &:visited {
      color: #423F62;
    }

    &--selected {
      color: #4ba3e2;

      &:visited {
        color: #4ba3e2;
      }

    }
  }

  &__svg {
    fill: #423F62;  
    margin-right: 22px;

    &--selected {
      fill: #59AFED;
    }
  }

  & a:hover {
    color: #1EA0DE;
  }


}

.logout, .login{
  margin-top: auto;
  margin-bottom: 40px;
  justify-self: flex-end;
  
  & button {
    color: rgba(255, 255, 255, 0.848);
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 15px;

    &:hover {
      color: #443f7f;
    }
  }
}