.streamfilter {
  align-self: start;
  margin-left: 60px;
  margin-top: 60px;
  width: 70%;

  &__buttonlist{
    display: flex;
    gap: 15px;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
  }
}

h3 {
  font-size: 14px;
  color: #4C4C66;
}

.tagbutton {

  background: #E8F5FF;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  border: 1.5px solid #868692;
  font-size: 15px;
  text-transform: capitalize;

  &:hover {
    background: #a2c3de;
  }

  &--selected{
    background: #45A9F2;
    border: 1.6px solid #868692;
    color: white;
    font-size: 15px;
    font-weight: 700;
  
    &:hover {
      background: #3d94d2;
    }
  }
}


