h2 {
  font-size: 15px;
  margin-top: 40px;
  color: #0f5188;
  text-transform: uppercase;
}

.streams {
  width: 70%;
  min-width: 500px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;

  &__container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & h3 {
    text-decoration: underline;
    font-size: 18px;
    margin-top: 40px;
    color: #0f5188;
  }

  &__buttonList {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
  }
}