.main {
  // border: 5px solid pink;
}

h2 {
  font-size: 15px;
  margin-top: 40px;
  color: #0f5188;
  text-transform: uppercase;
}

.streams {
  width: 70%;
  min-width: 500px;
  height: 100%;
  // border: 5px solid green;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;

  &__container {
    width: 40%;
    height: 100%;
    // border: 5px solid rgb(210, 134, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & h3 {
    text-decoration: underline;
    font-size: 18px;
    margin-top: 40px;
    color: #0f5188;
  }

  &__buttonList{
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    // justify-items: center;
    // width: 220px;

    // background-color: pink;
  }
}

.tagbutton {
  // margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  background: #E8F5FF;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  border: 1.5px solid #868692;
  font-size: 15px;
  text-transform: capitalize;
  // width: fit-content;

  &:hover {
    background: #a2c3de;
  }

  &--selected{
    background: #45A9F2;
    color: white;
  
    &:hover {
      background: #3d94d2;
    }
  }
}